In [ ]:
#Task-1

import pandas as pd
import numpy as np
data = np.random.randint(0, 10, size=(4, 4))
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  1  7  5  1
1  4  0  9  5
2  8  0  9  2
3  6  3  8  2

In [ ]:
#Task-2

df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0               1               7               5               1
1               4               0               9               5
2               8               0               9               2
3               6               3               8               2

In [ ]:
#Task-3

df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         4.750000        2.500000        7.750000        2.500000
std          2.986079        3.316625        1.892969        1.732051
min          1.000000        0.000000        5.000000        1.000000
25%          3.250000        0.000000        7.250000        1.750000
50%          5.000000        1.500000        8.500000        2.000000
75%          6.500000        4.000000        9.000000        2.750000
max          8.000000        7.000000        9.000000        5.000000

In [ ]:
#Task-4

null_values = df.isnull().sum()
data_types = df.dtypes

In [ ]:
null_values

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
data_types

Random value 1    int64
Random value 2    int64
Random value 3    int64
Random value 4    int64
dtype: object

In [ ]:
#Task-5

RandomValue2 = df.iloc[:, 1]
RandomValue3 = df.loc[:, 'Random value 3']
print("Using location method:")
print(RandomValue2)
print("\nUsing index location method:")
print(RandomValue3)

Using location method:
0    7
1    0
2    0
3    3
Name: Random value 2, dtype: int64

Using index location method:
0    5
1    9
2    9
3    8
Name: Random value 3, dtype: int64